.topic
{
    FONT-WEIGHT: 900;
    FONT-SIZE: 20px;
    COLOR: #345678;
    LINE-HEIGHT: 24px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none;	
}
.title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #123456;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}
.bold
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: black;
	LINE-HEIGHT: 18px;
	FONT-STYLE: normal;
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none
}
.titleRed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #a76464;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}
.titleGrey
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 16px;
    COLOR: #cdcdcd;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}
.subtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #999999;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}
.subtitleGrey
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #000000;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}
.subtitleBlue
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #456789;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}
.subtitleRed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #985454;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}

.sharpRed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #FF0000;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}

.normal
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: black;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}
.normalGrey
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: black;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}
.normalYellow
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #787856;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}
.normalBlue
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #123456;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}
.normalRed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #985454;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}
.normalThin
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: black;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}
.middleGrey
{
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: black;
	LINE-HEIGHT: 18px;
	FONT-STYLE: normal;
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none
}
.smallBlue
{
	FONT-WEIGHT: lighter;
	FONT-SIZE: 10px;
	COLOR: #123456;
	LINE-HEIGHT: 16px;
	FONT-STYLE: normal;
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none
}
.smallRed
{
	FONT-WEIGHT: lighter;
	FONT-SIZE: 10px;
	COLOR: #985454;
	LINE-HEIGHT: 16px;
	FONT-STYLE: normal;
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none
}
.smallGrey
{
	FONT-WEIGHT: lighter;
	FONT-SIZE: 10px;
	COLOR: black;
	LINE-HEIGHT: 16px;
	FONT-STYLE: normal;
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none
}
.smallLightGrey
{
	FONT-WEIGHT: lighter;
	FONT-SIZE: 10px;
	COLOR: #999999;
	LINE-HEIGHT: 16px;
	FONT-STYLE: normal;
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none
}

.linkBlue
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #4545CC;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: underline
}

.emaillinkBlue
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #4545CC;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: underline
}

.menuBig
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #708090;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
    TEXT-DECORATION: none
}
.menuSmall
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #4169e1;
    LINE-HEIGHT: 18px;
    FONT-STYLE: normal;
    FONT-FAMILY: "Times New Roman", "sans-serif", "Helvetica", "Arial";
    TEXT-DECORATION: none
}
.showIt {
	display: block;
}
.hideIt {
	display: none;
}
td.ContentTable {border-color:#AAAAAA;border-width:1px;border-style:Solid;}
.PhillipTitleChinese {
	font-family:"·s²Ó©úÅé";
	font-size:16pt;
	font-weight:bold;
	line-height: normal;
}
.PhillipTitleEnglish { font-family:"Times New Roman";font-size:12pt;font-weight:bold}


/* New Added by THT */
.grayBorder
{
	border:1px solid #777777;
    vertical-align:middle;
    text-align:center;
	margin-right:auto;
    margin-left:auto;
}

